<h1> Room types </h1>
<table>
  <thead>
    <tr>
   
      <th>Roomtype</th>
    </tr>
  </thead>
  <tbody>
<% @room_type.each do |room_type| %>
      <tr>
      	<% if room_type.admin_id == current_admin.id %>
      	  <td><%= room_type.room_type%></td>
         <td> <%= link_to 'Check availability',new_room_availability_path(room_type_id: room_type)%></td>
       
        <p>
        	</tr>
        <% end %>
 <% end %>